/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.recipe {
  text-align: center;
}

.recipelist {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
}

.tr1 {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  border: 1px solid black;
  height: 7rem;
  row-gap: 5rem;
  width: 40rem;
  margin-left: 5rem;
  align-items: center;
  padding-left: 2rem;
}

.public-container {
  display: grid;
  grid-template-columns: 20% 20%;
  row-gap: 3rem;
  border: 2px solid black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.header-title {
  text-align: center;
}

.food-list {
  text-align: center;
}

.table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  border-collapse: collapse;
}

.litem {
  border: 1px solid black;
  text-align: center;
}

tr {
  height: 4rem;
}

.btn-food {
  display: flex;
  margin-left: 60rem;
  border-width: 1px;
  background-color: rgb(238, 229, 229);
  width: 5rem;
  border-radius: 1rem;
  height: 2rem;
  align-items: center;
  padding: 0.1rem;
  color: white;
}

.menu-item {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  margin-left: 1rem;
  list-style: none;
  font-family: sans-serif;
  font-size: larger;
  background-color: rgb(241, 234, 234);
  height: 4rem;
  align-items: center;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.logout {
  margin-left: 40rem;
  cursor: pointer;
  width: 5rem;
}

.loginfrm {
  margin-left: 30rem;
  margin-right: auto;
  background-color: rgb(189, 186, 186);
  width: 20rem;
  height: 20rem;
  padding: 1rem;
}

.signupfrm {
  margin-left: 30rem;
  margin-right: auto;
  background-color: rgb(189, 186, 186);
  width: 20rem;
  height: 20rem;
  padding: 1rem;
}

.toggle-switch-container {
  display: flex;
  align-items: center;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 10px;
}

.toggle-switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-switch-slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-switch-input:checked + .toggle-switch-slider {
  background-color: #2196f3;
}

.toggle-switch-input:focus + .toggle-switch-slider {
  box-shadow: 0 0 1px #2196f3;
}

.toggle-switch-input:checked + .toggle-switch-slider::before {
  transform: translateX(26px);
}

/* Additional styles for the label and form button */
.toggle-switch-submit {
  display: none;
}
