/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.recipe {
  text-align: center;
}

.recipelist {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
}

.tr1 {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  border: 1px solid black;
  height: 7rem;
  row-gap: 5rem;
  width: 40rem;
  margin-left: 5rem;
  align-items: center;
  padding-left: 2rem;
}

.public-container {
  display: grid;
  grid-template-columns: 20% 20%;
  row-gap: 3rem;
  border: 2px solid black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.header-title {
  text-align: center;
}

.food-list {
  text-align: center;
}

.table {
  /* border: 1px solid black; */
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  border-collapse: collapse;
}

tr,
th,
td {
  border: 1px solid black;
  text-align: center;
}

tr {
  height: 4rem;
}

.btn-food {
  display: flex;
  margin-left: 60rem;
  border-width: 1px;
  background-color: rgb(238, 229, 229);
  width: 5rem;
  border-radius: 1rem;
  height: 2rem;
  align-items: center;
  padding: 0.1rem;
  color: white;
}
